<section class="py-10">
  <div data-aos="fade-up" class="container text-center">
    <h1 class="text-3xl lg:text-5xl font-bold text-main mb-8">Get in Touch</h1>
    <div class="flex justify-center flex-wrap gap-4">
      <p class="text-center"> Mansoura, Egypt </p>
      <a href="tel:201008242154" class="transition duration-300 hover:text-main"> +201008242154 </a>
      <a href="mailto:ahmedya3ser8@gmail.com" class="transition duration-300 hover:text-main"> ahmedya3ser8&#64;gmail.com </a>
    </div>
  </div>
</section>
