<section class="py-10">
  <div class="container">
    <h1 data-aos="fade-down" class="text-3xl lg:text-5xl font-bold text-main mb-10">About Me</h1>
    <div class="flex flex-col lg:flex-row gap-10">
      <div data-aos="fade-right" class="col w-full lg:w-1/2">
        <img src="/images/about.jpg" loading="lazy" class="w-full h-[300px] lg:h-[450px] object-cover rounded-lg" alt="about" />
      </div>
      <div data-aos="fade-left" class="col w-full lg:w-1/2 flex flex-col gap-4">
        <p class="text-pargraph text-sm lg:text-base leading-6 lg:leading-8">
          Passionate Frontend Developer with hands-on experience in building modern, responsive, and
          user-friendly web applications using Angular. Skilled in HTML, CSS, TypeScript,
          and UI frameworks like Tailwind CSS, Bootstrap, and PrimeNG. Adept at transforming UI/UX designs into high-quality,
          reusable components and ensuring performance optimization across devices. Experienced in state management,
          API integration, and version control with Git/GitHub. Committed to writing clean,
          maintainable code and continuously improving skills to stay updated with the latest frontend technologies.
        </p>
        <a
          href="/images/CV_Ahmed_Yasser_Ahmed.pdf"
          download="CV_Ahmed_Yasser_Ahmed"
          class="bg-main text-white py-3 px-8 rounded-lg text-sm self-start cursor-pointer transition duration-300 hover:bg-cyan-600"
        >
          Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
