<header class="fixed left-0 top-0 w-full z-999 bg-[#0F172A]">
  <div class="container py-5">
    <div class="flex justify-between items-center">
      <a href="#hero" class="text-main text-3xl font-bold tracking-widest"> FE </a>
      <ul class="hidden lg:flex items-center space-x-4">
        <li>
          <a href="#hero" class="font-medium uppercase transition duration-300 hover:text-main">Home</a>
        </li>
        <li>
          <a href="#about" class="font-medium uppercase transition duration-300 hover:text-main">About</a>
        </li>
        <li>
          <a href="#technologies" class="font-medium uppercase transition duration-300 hover:text-main">Technologies</a>
        </li>
        <li>
          <a href="#experiences" class="font-medium uppercase transition duration-300 hover:text-main">Experiences</a>
        </li>
        <li>
          <a href="#projects" class="font-medium uppercase transition duration-300 hover:text-main">Projects</a>
        </li>
        <li>
          <a href="#contact" class="font-medium uppercase transition duration-300 hover:text-main">Contact</a>
        </li>
      </ul>
      <ul class="flex items-center space-x-3">
        <li>
          <a href="https://www.linkedin.com/in/ahmed-yasser-21382a267/" target="_blank" class="text-2xl transition duration-300 hover:text-main">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ahmedya3ser8" target="_blank" class="text-2xl transition duration-300 hover:text-main">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://x.com/ahmed_ya3ser_8" target="_blank" class="text-2xl transition duration-300 hover:text-main">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://wa.me/01008242154" target="_blank" class="text-2xl transition duration-300 hover:text-main">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
