<section>
  <div class="container">
    <div class="flex h-screen max-lg:justify-center items-center flex-col lg:flex-row">
      <div data-aos="fade-right" class="col w-full lg:w-1/2 flex flex-col gap-6">
        <h1 class="text-3xl lg:text-5xl font-bold text-main">Hi I'm Ahmed Yasser,</h1>
        <h3 class="text-xl lg:text-3xl font-medium">Welcome To My Portfolio</h3>
        <p class="w-full lg:max-w-lg text-sm lg:text-base leading-6 text-pargraph">
          I'am Frontend Developer skilled in building modern, responsive web applications using Angular, HTML, CSS, JS, TS and
          UI frameworks like Bootstrap and Tailwind CSS. Experienced in version control with Git and GitHub,
          and proficient at translating UI/UX designs into clean, functional,
          and user-friendly front-end components that enhance user experience and performance.
        </p>
      </div>
      <div data-aos="fade-left" class="col hidden lg:block w-1/2">
        <img src="/images/hero.png" loading="lazy" class="w-full object-cover" alt="hero-image" />
      </div>
    </div>
  </div>
</section>
